@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --font-regular: 400;
    --font-semibold: 600;
}

/* general styles */

section{
    margin-bottom: 10rem;

}

body{
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: var(--font-regular);

}


p{
    color: var(--grayish-blue);
    font-size: 1.1rem;
    text-align: center;

}

.title{
    color: var(--dark-grayish-blue);
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    height: 100%;
    width: 100%;

}

/* main section */

.main{
    background-image: url('./images/bg-header-desktop.png');
    background-size: cover;
}
.main .logo{
    width: 100px;
}


.main .container .info{
    width: 650px;
    display: inline-block;
}
.main .container h1{
    font-size: 2.5rem;
    margin-top: 50px;
}

.buttons{
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn{
    color: white;
    margin: 0 10px;
    border-radius: 30px;
    width: fit-content;
    padding: 1rem 2rem;
    border: none;
    font-size: 1rem;
    font-weight: var(--font-regular);
}

.btn-primary{
    background-color: var(--strong-cyan);
    
}

.btn-secondary{
    background-color: var(--light-blue);

}

/* access section */
.access .container{
    padding: 0;
}

.access .info{
    width: 650px;
    display: inline-block;
}
.access .container h2{
    text-align: center;
}

/* tools section */

.tools .container{
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.tools .elements{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.tools .element{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.tools .element > *{
    margin: 10px;
    width: 55%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;

}

.tools .title,.tools p{
    text-align: start;
}

/* download section */

.download .container{
    padding: 0;
}

.download .info{
    width: 650px;
    display: inline-block;
}
.download .container h2{
    text-align: center;
}

/* clients section */

.clients .images{

    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.clients img{
    margin: 0 5px;
}

/* footer */

footer{
background-color: var(--grayish-blue);

}